/* Imports with * tag */
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* Imports with * tag */
/* NAVBAR */
html {
  scroll-behavior: smooth;
}
body {
  background-image: url('assets/wooden-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.navbar {
  color: #fff;
  padding: 20px 40px;
}

.navbar2 {
  background-color: #333;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-family: 'New Amsterdam', sans-serif;
}

.menu-toggle {
  display: none; /* Hide the checkbox */
  margin-top: 40px;
}

.menu-icon {
  display: none; /* Hide the menu icon by default */
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  max-height: 300px;
  transition: max-height 0.3s ease-out; /* Transition effect for smooth toggle */
}

.navbar-nav li {
  margin: 0;
  font-weight: bold;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  font-family: 'Raleway', sans-serif;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-nav a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-nav a:hover {
  color: #fff;
}

.navbar-nav a:hover:after {
  transform: scaleX(1);
}

/* NAVBAR */
/* Main Section */
.main-section {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content h1 {
  font-family: 'Lobster', sans-serif;
  font-weight: 200;
  color: peachpuff;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
}
.main-content h2 {
  font-family: 'New Amsterdam', sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  font-size: 5rem;
  text-align: center;
  line-height: 1.1em;
}
.main-content .second_h2 {
  margin-bottom: 25px;
}
.main-content .second_h2 .highlight2 {
  color: yellow;
}
.main-content p {
  font-size: 1.1rem;
  font-family: 'Roboto';
  color: white;
  text-align: center;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.order-now {
  background-color: yellow;
  color: #000;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.order-now:hover {
  background-color: #e6a324;
  border: none;
}

.view-menu {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  border-radius: 5px;
}

.view-menu:hover {
  background-color: #ffffff;
  color: #000;
}
.main-content h1,
.main-content h2,
.main-content p,
.button {
  margin-bottom: 0.5rem;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* MAIN SECTION */

/* Bottom Strip Picture */
.bottom_strip_picture {
  /* padding: 40px 0; */
  background-color: peachpuff;
}

.bottom_strip_content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  /* margin: 0 auto; */
  /* padding: 0 20px; */
}

.left_side {
  flex: 1;
  padding-right: 20px;
}

.left_side_picture {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.left_side_picture img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right_side {
  flex: 1;
  padding-left: 20px;
}

.right_side_heading {
  font-size: 3em;
  margin: 0;
  letter-spacing: 3px;
  font-family: 'New Amsterdam', sans-serif;
}

.right_side_para {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto';
  margin-top: 10px;
}
/* Bottom Strip Picture */

/* Menu section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #2196f3;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* Grid Item */
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  height: 600px;
}

/* Deals Section */
.deals-section {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 20px;
}

.deal-box {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border: 2px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.deal-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Menu Sections */
.menu-section,
.menu-section2 {
  padding: 50px;
  min-height: 100vh;
  background-color: #fffaf0;
  color: #333;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.menu-section h2,
.menu-section2 h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 30px;
  font-family: 'New Amsterdam', sans-serif;
}

.menu-category {
  margin-bottom: 40px;
  margin-top: 100px;
}

.menu-category h3 {
  font-size: 3.8rem;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 5px;
  font-family: 'New Amsterdam', sans-serif;
}

/* Text-Image Sections */
.text-image-section,
.text-image-section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.text-image-container,
.text-image-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.text-content,
.text-content2 {
  flex: 1;
  padding: 20px;
  text-align: left;
  line-height: 0.8;
  padding-left: 40px;
}

.text-content h2,
.text-content2 h2 {
  font-size: 8rem;
  margin-bottom: 20px;
  text-align: left;
}

.text-content h3,
.text-content2 h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-family: 'raleway';
}

.text-content p,
.text-content2 p {
  font-size: 0.9rem;
  color: #555;
  font-family: 'Roboto';
}

.text-content a,
.text-content2 a {
  margin-top: 10px;
  font-size: 0.9rem;
  color: white;
}

.image-content,
.image-content2 {
  flex: 2;
  padding: 20px;
}

.image-content img,
.image-content2 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Button */
.btn-browse-more {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Roboto';
  color: #fff;
  background-color: #d9534f;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  width: 50%;
}

.btn-browse-more:hover {
  background-color: #c1121f;
  transform: scale(1.05);
}
/* Special deals X Extra topping deal */
.favorite-flavors {
  padding: 20px;
  text-align: left;
  background-color: white;
}
.favourite_heading {
  font-size: 3.5rem;
  font-family: 'New Amsterdam', sans-serif;
  text-align: center;
  border-bottom: 1px solid #333;
  color: #333;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 50px;
}
.card-container2 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  margin-top: 50px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 400px;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 200px;
}

.card-content {
  height: 200px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-content h3 {
  padding: 15px;
  margin: 0;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #333;
}
.card-content p {
  padding: 15px;
  letter-spacing: 1.4px;
  font-family: 'Roboto';
  font-size: 1em;
  color: #555;
  max-height: 60px;
  
}
.bottom{
  margin-bottom: 13px;
}
.card-content .differall {
  font-size: 0.8em;
  font-weight: 400;
}
.price-row {
  margin-top: 13px;
  padding:5px;
  display: flex;
  justify-content: space-between;
  font-family: 'raleway', sans-serif;
  font-size:0.8em;
  height: 70px;
  background-color: #333;
  color: white;
}

.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;

}
.price-box .price2{
  font-size:0.85em;
  font-family:Roboto;
}

.price-box span:first-child {
  font-weight: bold;
}
.extra-toppings {
  padding: 20px;
  text-align: center;
  background-color: white;
  margin-top: 50px;
}

.extra-toppings-heading {
  font-size: 3.5rem;
  font-family: 'New Amsterdam', sans-serif;
  text-align: center;
  border-bottom: 1px solid #333;
  color: #333;
  margin-bottom: 20px;
}

.toppings-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.topping-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 350px; /* Adjust the height as needed */
  overflow: hidden;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topping-card img {
  width: 100%;
  height: 220px; /* Adjust image height */
  object-fit: cover;
}

.topping-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.topping-content h3 {
  margin: 0;
  padding: 6px 15px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: 'New Amsterdam', sans-serif;
  font-size: 1.6rem;
}

.topping-price {
  font-weight: bold;
  text-align: center;
  color: #e53935;
  font-family: 'Roboto';
}

.add-topping-btn {
  display: block;
  /* height: 40px; */
  margin: 20px;
  font-family: 'Roboto';
  padding: 10px 0;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: 0.4s all ease-out;
}

.add-topping-btn:hover {
  background-color: #c1121f;
}

.price {
  font-weight: bold;
  color: #e53935;
  min-height: 10px;
}

.add-btn {
  display: block;
  width: 100%;
  font-family: 'Roboto';
  padding: 10px 0;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: 0.4s all ease-out;
}

.add-btn:hover {
  background-color: #c1121f;
}
/* Special deals X Extra topping deal */

/* Popup handler */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.popup-container:target {
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

.popup-content .popup_heading {
  height: 80px;
  background-color: #000;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content h2 {
  font-size: 2.5rem;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

.popup-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 26vh;
  text-align: left;
}

.popup-content li {
  padding: 18px 27px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.popup-content li .price2 {
  color: #777;
  font-weight: 400;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  font-size: 24px;
  color: #d9534f;
  font-weight: bold;
}

.close-popup:hover {
  color: #c1121f;
}
/* Popup handler */
/* Side Orders */
.menu-section3 {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #333;
}

.menu-container3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 30px;
  width: 100%;
  padding: 50px;
}

.menu-category3 {
  text-align: center;
  flex: 0.25;
  height: auto;
  width: 300px;
  border: 2px solid #f90;
  border-radius: 25px;
  flex: 1;
}

.menu-category3 h2 {
  background-color: #f90;
  font-family: 'New Amsterdam';
  color: #333;
  font-size: 2.5rem;
  /* padding: 10px; */
  margin-bottom: 10px;
  border-radius: 5px;
  margin: 20px;
}
.menu-category3 .diff_from_above3 {
  background-color: #f90;
  font-family: 'New Amsterdam';
  font-size: 2.1rem;
  color: #333;
  margin-bottom: 10px;
  border-radius: 5px;
  margin: 20px;
}

.menu-category3 ul {
  list-style-type: none;
  padding: 20px;
}

.menu-category3 li {
  padding: 7px;
  background-color: #555;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  color: white;
  font-weight: 600;
  font-family: 'raleway';
}

li span {
  color: #f90;
  padding-left: 5px;
}
/* Side Orders */
/* Black strip above contact info */
.black_top_strip {
  background-color: #000;
  color: #fff;
  padding: 30px;
}

.black_strip_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.big_item {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-right: 40px;
}

.item h1 {
  margin: 0;
  font-size: 1.4em;
  font-family: 'New Amsterdam', sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
}

.item p {
  font-family: 'Roboto';
  margin: 5px 0 0;
  font-size: 0.9em;
}

.right_strip {
  display: flex;
  align-items: center;
}
.links3 {
  margin-left: 50px;
}
.links3 a {
  color: #fff;
  font-size: 1.5em;
  margin: 0 10px;
  text-decoration: none;
}

.links3 a:hover {
  color: #ddd;
}
i:hover {
  color: yellow;
}
.order-item {
  background-color: #fffaf0;
  text-transform: uppercase;
  font-family: 'raleway';
  display: flex;
  flex-direction: column;
}
.order-item h1 {
  font-size: 2.2rem;
  text-align: center;
  padding-top: 30px;
  color: #333;
}
.order-item span {
  color: #555;
  font-family: 'Roboto';
  font-size: 1rem;
  font-family: Roboto;
  text-align: center;
}
/* Black strip above contact info */
/* contact information */
.contact-section {
  padding: 40px;
  text-align: center;
  background-color: #fffaf0;
}
.contact-section h2 {
  font-family: 'New Amsterdam', sans-serif;
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.contact-info {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'New Amsterdam', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 40px;
}

.contact-info a {
  color: #333;
  font-family: 'Roboto';
  font-size: 1.1rem;
  text-decoration: none;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.map-container {
  flex: 1 1 45%;
}

.contact-form {
  flex: 1 1 45%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
  margin-bottom: 20px;
  color: #333;
  font-family: 'New Amsterdam', sans-serif;
  font-size: 2.5rem;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  display: inline-block;
  background-color: #c9302c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #c7211b;
}
/* contact information */
/* About.html code */
.about-section {
  padding: 40px;
  background-color: peachpuff;
  text-align: center;
}

.about-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  font-family: 'New Amsterdam', sans-serif;
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  min-height: 90vh;
}

.about-text {
  flex: 1 1 50%;
  max-width: 600px;
  text-align: left;
}

.about-text h3 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
  font-family: 'New Amsterdam', sans-serif;
  font-size: 2.5rem;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
  font-family: 'Roboto';
}
.quote {
  text-align: left;
  width: 100%;
}

.quote-text {
  font-size: 24px;
}

.quote-author {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  width: 80%;
  line-height: 1;
}

.about-image {
  flex: 1 1 55%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 600px;
}

.about-img {
  width: 100%;
  object-fit: cover;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mission-statement {
  text-align: center;
  margin-top: 50px;
}

.mission-statement h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
  font-family: 'New Amsterdam', sans-serif;
  font-size: 2.5rem;
}

.mission-statement p {
  font-size: 17px;
  line-height: 1.6;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
  font-weight: 600;
  font-family: 'Roboto';
}

/* About.html code */
/* Gallery.html code */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two images per row */
  gap: 15px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.gallery-heading {
  position: relative;
  color: #333; /* Change color as needed */
  text-align: center;
  font-family: 'New Amsterdam';
  font-size: 6rem;
  margin-top: 40px;
}
/* Style each image */
.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}
.top {
  margin-top: 50px;
}
/* Add a color overlay on hover */
.gallery img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Zoom effect and overlay on hover */
.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.gallery img:hover::before {
  opacity: 1;
}


/* Gallery.html code */
@media (max-width: 767px) {
  .navbar .container {
    flex-direction: row; /* Keep the navbar items in a row */
    justify-content: space-between; /* Align brand to left and menu icon to right */
    align-items: center;
    padding: 10px 20px;
  }

  .menu-icon {
    display: block;
    order: 2;
  }
  .navbar-nav {
    display: flex;
    position: absolute;
    top: 11%;
    z-index: 1;
    right: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .navbar-nav li {
    width: 100%;
    text-align: center; /* Center align nav items */
    padding: 10px 0; /* Add padding for better touch targets */
  }

  .menu-toggle:checked ~ .navbar-nav {
    max-height: 400px; /* Adjust max-height to show the menu (adjust height as needed) */
  }
  .main-section {
    min-height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .main-content h1 {
    font-size: 2rem;
  }
  .main-content h2 {
    font-size: 2.4rem;
    line-height: 1.1;
  }

  .main-content p {
    font-size: 12px;
    font-weight: 300;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
  }

  .button {
    padding: 10px 20px;
    margin: 5px;
  }
  .bottom_strip_content {
    flex-direction: column; /* Stack content vertically */
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .left_side {
    padding-right: 0; /* Remove right padding */
    width: 100%; /* Full width for mobile */
  }

  .right_side {
    padding-left: 0; /* Remove left padding */
    width: 100%; /* Full width for mobile */
  }
  .left_side_picture {
    border-radius: 25px;
    margin-top: 40px;
  }
  .left_side_picture img {
    height: 300px; /* Adjust height for responsiveness */
    object-fit: cover; /* Maintain aspect ratio */
  }

  .right_side_heading {
    margin-top: 20px;
    font-size: 2em; /* Adjust font size for smaller screens */
    letter-spacing: 2px; /* Adjust letter spacing */
  }

  .right_side_para {
    font-size: 12px; /* Adjust font size for smaller screens */
    margin-bottom: 20px;
  }
  .grid-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .grid-item {
    height: auto;
    font-size: 20px;
  }

  .deals-section {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .deal-box {
    width: 100%;
    height: auto;
  }

  .menu-section,
  .menu-section2 {
    padding: 20px;
    min-height: auto;
  }

  .menu-section h2,
  .menu-section2 h2 {
    font-size: 2.5rem;
  }

  .text-image-section,
  .text-image-section2 {
    flex-direction: column;
    padding: 10px;
  }

  .text-image-container,
  .text-image-container2 {
    flex-direction: column; /* Stack image on top of content */
  }

  .text-content,
  .text-content2 {
    padding: 10px;
    padding-left: 0;
  }

  .text-content h2,
  .text-content2 h2 {
    font-size: 4rem;
    text-align: center;
  }

  .text-content h3,
  .text-content2 h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  .text-content p,
  .text-content2 p {
    font-size: 0.8rem;
    text-align: center;
  }

  .btn-browse-more {
    width: auto;
  }

  .menu-category {
    margin-top: 50px;
  }

  .menu-category h3 {
    font-size: 2.5rem;
  }
  .menu-container3 {
    padding: 30px;
    flex-direction: column;
    align-items: center;
  }

  .menu-category3 {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .menu-category3 h2 {
    font-size: 1.8rem;
  }

  .menu-category3 .diff_from_above3 {
    font-size: 1.8rem;
  }

  .menu-category3 ul {
    padding: 10px;
  }

  .menu-category3 li {
    font-size: 0.8em;
  }
  .black_top_strip {
    padding: 20px;
  }

  .black_strip_content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;
  }

  .big_item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .item h1 {
    font-size: 1em;
  }

  .item p {
    font-size: 0.8em;
  }

  .right_strip {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .links3 {
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .links3 a {
    font-size: 1em;
    margin: 0 5px;
  }

  i:hover {
    color: yellow;
  }
  .contact-section {
    padding: 20px;
  }

  .contact-section h2 {
    font-size: 5rem;
  }

  .contact-info {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .contact-info a {
    font-size: 1rem;
  }

  .contact-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .map-container {
    flex: 1 1 100%;
    max-width: 100%; /* Ensure it doesn't exceed the container width */
    height: 300px; /* Adjust the height as needed */
  }
  iframe {
    width: 110%;
  }
  .contact-form {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 87%;
    padding: 15px;
    margin-bottom: 40px;
  }

  .contact-form h3 {
    font-size: 2rem;
  }

  .form-group {
    margin-bottom: 10px;
    width: 90%;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .btn:hover {
    background-color: #c7211b;
  }
  .order-item{
    display: flex;
    flex-direction: column;
  }
  .order-item h1{
    font-size: 1.4em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .menu-icon {
    display: block;
    order: 2;
  }

  .navbar-nav {
    display: flex;
    position: absolute;
    top: 11%;
    z-index: 1;
    right: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    height: 500px;
  }
  .navbar-brand {
    font-size: 5rem;
  }
  input,
  label {
    font-size: 4rem;
  }

  .navbar-nav li {
    width: 100%;
    padding: 20px;
    font-size: 40px;
  }

  .menu-toggle:checked ~ .navbar-nav {
    max-height: 500px;
  }
  .main-section {
    min-height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .main-content h1 {
    font-size: 6rem;
  }
  .main-content h2 {
    font-size: 5rem;
    line-height: 1.1;
  }

  .main-content p {
    font-size: 26px;
    font-weight: 300;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
  }

  .button {
    padding: 10px 20px;
    font-size: 25px;
    margin: 5px;
  }
  .bottom_strip_content {
    flex-direction: column;
    padding: 0 10px;
  }

  .left_side {
    padding-right: 0;
    width: 100%;
  }

  .left_side_picture {
    border-radius: 25px;
    margin-top: 40px;
  }
  .left_side_picture img {
    height: auto;
    object-fit: cover;
  }

  .right_side_heading {
    margin-top: 20px;
    font-size: 5rem;
    letter-spacing: 2px;
  }

  .right_side_para {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .grid-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .grid-item {
    font-size: 20px;
  }

  .deals-section {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .deal-box {
    width: 100%;
    height: auto;
  }

  .menu-section {
    padding: 20px;
    min-height: auto;
  }

  .menu-section2 {
    padding: 20px;
    min-height: auto;
  }

  .menu-section h2 {
    font-size: 8rem;
  }
  .menu-section2 {
    font-size: 5rem;
  }

  .text-image-section {
    flex-direction: column;
    padding: 10px;
  }

  .text-image-section2 {
    flex-direction: column;
    padding: 10px;
  }
  .text-image-container {
    flex-direction: column;
  }

  .text-content {
    padding: 10px;
    padding-left: 0;
  }
  .text-content2 {
    padding: 10px;
    padding-left: 0;
  }

  .text-content h2 {
    font-size: 4rem;
    text-align: center;
  }
  .text-content2 h2 {
    font-size: 4rem;
    text-align: center;
  }

  .text-content h3 {
    font-size: 3rem;
    text-align: center;
  }
  .text-content2 h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .text-content p {
    font-size: 1.7rem;
    text-align: center;
  }
  .text-content2 p {
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
  }

  .btn-browse-more {
    width: auto;
  }
  .favorite-flavors {
    padding: 20px;
    text-align: left;
    background-color: white;
  }
  .favourite_heading {
    font-size: 6rem;
    color: #333;
  }
  .card-container {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 15px;
    justify-content: center;
    margin-top: 50px;
  }
  .card-container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    margin-top: 50px;
  }

  .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 400px;
    overflow: hidden;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 200px;
  }

  .card-content {
    padding: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .card-content h3 {
    margin: 0;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #333;
  }

  .card-content p {
    margin: 10px 0;
    letter-spacing: 1.4px;
    font-family: 'Roboto';
    font-size: 1em;
    color: #555;
    max-height: 48px;
  }
  .card-content .differall {
    font-size: 0.8em;
    font-weight: 400;
  }
  .extra-toppings-heading {
    font-size: 5rem;
    margin-bottom: 40px;
  }

  .toppings-container {
    gap: 25px;
  }

  .topping-card {
    width: auto;
    height: auto;
  }

  .topping-content h3 {
    font-size: 2.5rem;
  }

  .topping-price {
    font-size: 1.5rem;
  }

  .add-topping-btn {
    font-size: 1.3em;
  }

  .add-topping-btn:hover {
    background-color: #c1121f;
  }
  .menu-category {
    margin-top: 50px;
  }

  .menu-category h3 {
    font-size: 3rem;
  }
  .menu-container3 {
    padding: 30px;
    flex-direction: column;
    align-items: center;
  }

  .menu-category3 {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    flex: 4;
  }
  .menu-category h3 {
    font-size: 7rem;
  }
  .menu-category3 h2 {
    font-size: 4rem;
  }

  .menu-category3 .diff_from_above3 {
    font-size: 3rem;
  }

  .menu-category3 ul {
    padding: 10px;
  }

  .menu-category3 li {
    font-size: 1.5em;
    text-align: start;
    letter-spacing: 0.7px;
  }
  .black_top_strip {
    padding: 20px;
  }

  .black_strip_content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .big_item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .item h1 {
    font-size: 3em;
  }

  .item p {
    font-size: 2em;
  }

  .right_strip {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .links3 {
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .links3 a {
    font-size: 3em;
    padding: 20px;
    margin: 0 5px;
  }

  i:hover {
    color: yellow;
  }
  .contact-section {
    padding: 20px;
  }

  .contact-section h2 {
    font-size: 8rem;
  }

  .contact-info {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .contact-info a {
    font-size: 2.6rem;
  }
  .contact-info a:hover {
    text-decoration: underline;
  }

  .contact-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .map-container {
    flex: 0;
    padding: 0;
    margin: 0;
    width: 50%;
    max-width: 100%;
    height: auto;
  }
  iframe {
    width: 140%;
  }
  .contact-form {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 15px;
    margin-bottom: 40px;
  }

  .contact-form h3 {
    font-size: 6rem;
  }

  .form-group {
    margin-bottom: 10px;
    margin-top: 30px;
    width: 90%;
  }

  .form-group label {
    font-size: 3rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 40px;
  }

  .btn {
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Roboto';
    padding: 8px 16px;
  }

  .btn:hover {
    background-color: #c7211b;
  }
  .order-item{
    display: flex;
    flex-direction: column;
  }
  .order-item h1{
    font-size: 1.7em;
  }
  .order-item span{
    text-align: center;
    font-size: 1.2em;
  }
}
